module.exports = {
  projectName: 'GitBox',
  diskPath: '/tmp',
  useGit: true,
  enableStormpath: true,
  stormpath: {
    id: '',
    secret: '',
    href: ''
  },
  ports: {
    app: 4500,
    webhook: 4501
  },
  enableRegister: false
}
