module.exports = {
  projectName: 'GitBox',
  diskPath: '/path/to/folder',
  useGit: true,
  ports: {
    app: 4500,
    webhook: 4501
  },
  sessionAge: 1296000000,
  requireLogin: false,
  leancloud: {
    appId: '',
    appKey: ''
  },
  enableRegister: false
}
