doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="/js/vue.js")
    script(src="/js/vue-resource.min.js")
    script(src="/js/dropzone.js")
    script(src="/js/markdown.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/dropzone.css")
    link(rel="stylesheet", href="/css/github-markdown.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    block content
