.btn span {
  margin-left: 5px;
}

#gitbox .tree {
  font-size: 16px;
}
#gitbox .tree .name {
  padding-left: 28px;
  position: relative;
  cursor: pointer;
  line-height: 30px;
}
#gitbox .tree .name:hover {
  background: #F1F1F1;
}
#gitbox .tree .name.selected {
  color: #37b963;
}
#gitbox .tree .name i {
  position: absolute;
  left: 7px;
  top: 6px;
}
#gitbox .tree .children {
  padding-left: 10px;
}

#gitbox .navigator {
  color: #777;
}
#gitbox .tools .btn {
  margin-right: 4px;
}

#gitbox .upload {
  margin-top: 20px;
}
#gitbox .upload .dropzone {
  border: 2px dashed #777;
  font-size: 20px;
}

#gitbox .right-part .buttons {
  margin-bottom: 10px;
}
